body {
    background-color: white;
    
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 768;
    height: 1024;
    font-family: "politica";
    font-weight: "300";
    font-style: "normal";
    color: #2c2946;
    display: flex;
    flex-wrap: wrap;
}

.top {
    width:768;
    height:630;
    display:flex;
}

.sample-set {
    font-size:45;
    color:#2c2946;
    margin-top: 0;
    margin-bottom:0;
    padding-top: 260;
    padding-left:60;
    text-align: left; 
    font-weight: 350;
    height: 320;
    width: 360;
    float: left;
    order:1;
}

.big-letter {
    font-size: 500;
    font-weight: 400;
    color: #2c2946;
    text-align: right;
    margin-top: 0;
    margin-bottom:0;
    padding-right:130;
    width:300;
    order: 2;      
}

.button {
    width:10;
    height:10;
}
.bottom {
    height: 450;
    width: 768;
    display: flex;
}

.info-section {
    color: #2c2946;
    width: 320;
    height: 320;
    order: 1;
    padding-left: 60;
    padding-bottom: 100;
}
.info-section h2 { 
    font-family: "politica";
    font-weight: 350;
    font-style: "normal";
    font-size:35;
    margin-top: 0;
    margin-bottom: 0;
   
}
.info-section p {
    font-family:"adobe-garamond-pro";
    font-weight:"300";
    font-style: "normal";
    font-size: 14;
    text-align: justify;
    
}
.name-and-source {
    width: 250;
    height: 320;
    order:2;
    padding-top: 60;
    padding-right:60;
    padding-left:60;
    display: flex;
    flex-direction: column;
     
}
.photo-title {
    width: 300;
    height:80;
    margin-top: 0;
}

img.picture {
    width:80px;
    height: 80px;
    float: left;
    margin-right; 160;
}
.photo-title h3 {
    color: #2c2946;
    font-size: 25;
    font-weight: 350;
    margin-top:0;
    margin-bottom:0;
    padding-top: 85;

}
.photo-title h4 {
    color: #2c2946;
    font-size:15;
    margin-top: 0;
    margin-bottom:0;
    font-weight: 300; 

}
.sources {
    width: 280;
    height: 80;
    margin-bottom:0;
    margin-top:0;
    padding-top:100;
  
}
.sources h3 {
    color: #2c2946;
    font-size: 20;
    font-weight:300;
    margin-top: 0;
    margin-bottom:0;
}

.sources p {
    font-family: "adobe-garamond-pro";
    font-weight:"300";
    font-style: "noraml";
    color: #2c2946;
    font-size: 8;
    margin-top:0;
    margin-bottom:0;
}