* {
    margin: 0px
}

.body {
     background-color: #cbdce1;
    
}

.container {
    width: 768;
    height: 1024;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

img.backgroundpic {
    width: 768;
    height:1024;
    position: absolute;
    z-index: -10; 
}

img.majorpic {
    width: 550;
    height: 420;
    margin-left: 130px;
    margin-right: 109px;
    margin-top: 90px;
    margin-bottom: 0px;
    order:1;
   
}

.ursamajortitle {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    order:2;
    color: #0f5171;
}

.ursamajorinfo {
    width: 480px;
    font-size: 20px;
    text-align: left;
    margin-left: 157;
    margin-bottom: 50;
    order:3;
    color: #0f5171;
}

.backbutton {
    width: 120px;
    height: 40px;
    text-align: center;
    margin-left: 324;
    margin-right: 324;
    order:4;
}

a {
    color:white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 25
}

a:hover {
    color: #0f5171;
}

.buttonbackground {
    width: 110;
    height: 50;
    background-color: #9dbbd2;
    position: absolute;
    top: 955;
    left: 328;
    z-index: -5;