* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    background-color: white;  
}


.header {
    width:100%;
    height: 4rem;
    background-color:#d6e2e6;
    display: flex;
    flex-direction: row;
    overflow: hidden;
	position:fixed;  
}

a{
    text-decoration: none;
    color:black;
}

a:hover {
    color: white;
}

.title {
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 1rem;
    order: 1;
    margin: 1.2rem;
    font-family: gastromond;
    font-weight: 400;
    font-style: normal;
    margin: 1.4rem 1.2rem 1.2rem 1.2rem;
}

.menu {
    overflow: hidden;
	position:fixed;
	width:35%;
    background-color: #d6e2e6;
    order: 2;
    margin: 1rem 0 0 65%;      
}


.tophav {
	overflow: hidden;
	position: relative;  
}


.topnav a {
	float: left;
	display: block;
	color: black;
	text-align:right;
	text-decoration:none;
    font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem; 
}


.topnav a.icon {
	color: black;
	float: right;
	display: block;
	font-size: 2rem;
    padding-right: 1rem; 
}


.topnav a:hover {
    color: white;
}


.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}


.topnav.responsive a {
    float: none;
    display: block;  
}


.main-nav a {
    display: none;
    margin: 1rem 1rem 0 0;
    padding-top:1.5rem
}


.main-nav.responsive {
    position: relative;
}


.main-nav.responsive a {
    float: none;
    display: block;
}

.content {
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

img.myphoto {
    width: 100%;
    margin-top:4rem;

}

.info {
    color: black;
    margin: 0 0 0 0;
    text-align: center;
}
.info h1 {
    font-size: 2rem;
    font-family: gastromond;
    font-weight: 400;
    margin-top:2rem;
}

.info p {
    font-size: 1rem;
    font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
    width:80%;
    margin: 1rem 10% 2rem 10%;
    
}

.resume {
    width:100%;
}

.resume button {
    width:30%;
    height:3rem;
    font-size:1.5rem;
    background-color: #d6e2e5;
    border: none;
    font-family: gastromond;
    font-weight: 400;
    margin:2rem 35% 4rem 35%;
    color:white;
}


@media only screen and (min-width:960px) {
    
    .page {
        width: 100%;
    }
    
    .pictext {
        
        display: flex;
        flex-direction: row;
        margin-top: 4rem 
    }
     
    img.myphoto {
        width:85%;
        margin: 2rem 5% 0 20%;
        
     
    }
    
    .info {
        margin: 2rem 5% 0 5%;
        
    }
    
    .resume button{
        width: 20%;
        margin: 4rem 40% 0 40%
    }
    
   
    
   
    











