* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: white;  
}

.header {
    width:100%;
    height: 4rem;
    background-color:#d6e2e6;
    display: flex;
    flex-direction: row;
    overflow: hidden;
	position:fixed;
    
}

a{
    text-decoration: none;
    color:black;
}

a:hover {
    color: #fff;
}

.title {
    display: flex;
    flex-direction: row;
  
}

.name {
    font-size: 1rem;
    order: 1;
    margin: 1.2rem;
    font-family: gastromond;
    font-weight: 400;
    font-style: normal;
    margin: 1.4rem 1.2rem 1.2rem 1.2rem;
}

.menu {
    overflow: hidden;
	position:fixed;
	width:35%;
    background-color: #d6e2e6;
    order: 2;
    margin: 1rem 0 0 65%;      
}


.tophav {
	overflow: hidden;
	position: relative;  
}


.topnav a {
	float: left;
	display: block;
	color: black;
	text-align:right;
	text-decoration:none;
    font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem; 
}


.topnav a.icon {
	color: black;
	float: right;
	display: block;
	font-size: 2rem;
    padding-right: 1rem; 
}


.topnav a:hover {
    color: white;
}


.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}


.topnav.responsive a {
    float: none;
    display: block;  
}


.main-nav a {
    display: none;
    margin: 1rem 1rem 0 0;
    padding-top:1.5rem
}


.main-nav.responsive {
    position: relative;
}


.main-nav.responsive a {
    float: none;
    display: block;
}


.hero {
    margin: 0 auto 0 auto;
    
}

img.heroftt {
    width:100%;
    margin: 4rem 0 0 0;
}

.ftt {
    text-align: center;
    margin: 2rem auto 2rem auto;
    font-family: gastromond;
    font-weight: 400;
    font-style: normal;
    font-size:1.9rem;
}

.photos {
    display:flex;
    flex-wrap: wrap;    
}

.process {
    margin: 0 auto 2rem auto;
    width: 100%;
    
}

.SHP {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 1rem auto;
    font-family:neusa-next-std, sans-serif;
    font-weight: 300;
    font-style:normal;
}

.protext {
    font-size: .8rem;
    text-align: center;
    margin: 0 5% 2rem 5%;
    font-family:neusa-next-std, sans-serif;
    font-weight: 300;
    font-style:normal;
}


img.sketch {
    width: 60%;
    margin: 2rem 20% 0 20%;
    order:1;
    
}

img.photo1 {
    width:40%;
    margin: 2rem 3% 0 7%;
    order:2
}

img.photo2 {
    width: 40%;
    margin: 2rem 6% 0 3%;
    order:3;
        
}

.print {
    margin: 3rem auto 2rem auto;
    width: 100%;
}

.SHprint {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 1rem auto;
     font-family:neusa-next-std, sans-serif;
    font-weight: 300;
    font-style:normal;
}

.printtext {
    font-size: .8rem;
    text-align: center;
    margin: 0 5% 2rem 5%;
    font-family:neusa-next-std, sans-serif;
    font-weight: 300;
    font-style:normal;
}

img.invalidposter {
    width: 100%;
    margin: 1rem 0 0 0;
}

.social {
    margin: 2rem auto 2rem auto;
    width: 100%;
}

.SHsocial {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 1rem auto; 
     font-family:neusa-next-std, sans-serif;
    font-weight: 300;
    font-style:normal;
}

.socialtext {
    font-size: .8rem;
    text-align: center;
    margin: 0 5% 2rem 5%;
    font-family:neusa-next-std, sans-serif;
    font-weight: 300;
    font-style:normal;
}

img.facebook {
    width: 100%;
    margin: 2rem 0 0 0;
}

img.insta {
    width:70%;
    margin: 4rem 15% 4rem 15%;
    
}






@media only screen and (min-width:960px) {
    
    .page {
        width: 100%;
    }
        
    img.sketch {
        width:40%;
        margin: 2rem 30% 0 30%;
    }
    
    img.photo1 {
        width:30%;
        margin: 4rem 3% 0 17%;
    }
    
    img.photo2 {
        width:30%;
        margin: 4rem 16% 0 3%;
    
    }
    
    img.invalidposter {
        width:55%;
        margin: 2rem 22.5% 1rem 22.5% 
    }
    
     img.facebook {
        width:55%;
        margin: 1rem 3.5% 7rem 9% 
    }
    
     img.insta {
        width:20%;
        margin: 1rem 8% 4rem 3.5% 
    }
    
   
     
        
