* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: white;  
}

.header {
    width:100%;
    height: 4rem;
    background-color:#d6e2e6;
    display: flex;
    flex-direction: row;
    overflow: hidden;
	position:fixed;
}

a{
    text-decoration: none;
    color:black;
}

a:hover {
    color: white;
}

.title {
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 1rem;
    order: 1;
    margin: 1.2rem;
    font-family: gastromond;
    font-weight: 400;
    font-style: normal;
    margin: 1.4rem 1.2rem 1.2rem 1.2rem;
}

.menu {
    overflow: hidden;
	position:fixed;
	width:35%;
    background-color: #d6e2e6;
    order: 2;
    margin: 1rem 0 0 65%;      
}


.tophav {
	overflow: hidden;
	position: relative;  
}


.topnav a {
	float: left;
	display: block;
	color: black;
	text-align:right;
	text-decoration:none;
    font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem; 
}


.topnav a.icon {
	color: black;
	float: right;
	display: block;
	font-size: 2rem;
    padding-right: 1rem; 
}


.topnav a:hover {
    color: white;
}


.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}


.topnav.responsive a {
    float: none;
    display: block;  
}


.main-nav a {
    display: none;
    margin: 1rem 1rem 0 0;
    padding-top:1.5rem
}


.main-nav.responsive {
    position: relative;
}


.main-nav.responsive a {
    float: none;
    display: block;
}


.hero {
    margin: 0 auto 0 auto;
}

img.herotoy {
    width:100%;
    margin: 4rem 0 0 0;
}

.polaris {
    text-align: center;
    margin: 2rem auto 2rem auto;
    font-family: gastromond;
    font-weight: 400;
    font-style: normal;
}

.photos {
    display:flex;
    flex-wrap: wrap;    
}

.process {
    margin: 0 auto 2rem auto;
    width: 100%;
}

.SHP {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 1rem auto;
    font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.protext {
    font-size: .8rem;
    text-align: center;
    margin: 0 5% 2rem 5%;
    font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
}


img.sketches {
    width: 100%; 
    
}

img.gameboard {
    width:50%;
    margin: 2rem 25% 0 25%
}

img.tools {
    width: 50%;
    margin: 2rem 25% 0 25%
}

.print {
    margin: 2rem auto 2rem auto;
    width: 100%;
}

.SHprint {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 1rem auto; 
   font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.printtext {
    font-size: .8rem;
    text-align: center;
    margin: 0 5% 2rem 5%;
   font-family: neusa-next-std, sans-serif;
    font-weight: 300;
    font-style: normal;
}

img.sextoy {
    width: 100%;
    margin: 2rem 0 0 0;
}

img.freemoney {
    width:100%;
    margin: 4rem 0 0 0;
}

img.playtime {
    width: 100%;
    margin: 4rem 0 0 0;
}

img.mockup {
    width: 100%;
    margin: 4rem 0 4rem 0;
}



@media only screen and (min-width:960px) {
    
    .page {
        width: 100%;
    }
        
    img.sketches {
        width:70%;
        margin: 2rem 15% 0 15%;
    }
    
    img.gameboard {
        width:35%;
        margin: 3rem 3% 0 11%;
    }
    
    img.tools {
        width:35%;
        margin: 3rem 12% 0 3%;
    
    }
    
    img.sextoy {
        width:50%;
        margin: 2rem 25% 0 25% 
    }
    
     img.freemoney {
        width:50%;
        margin: 2rem 25% 0 25% 
    }
    
     img.playtime {
        width:50%;
        margin: 2rem 25% 0 25% 
    }
    
      img.mockup {
        width:60%;
        margin: 6rem 20% 3rem 20% 
    }
     
     
        
