* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: white;  
}

.header {
    width:100%;
    height: 4rem;
    background-color:white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
	position:fixed;
}

a{
    text-decoration: none;
    color:black;
}

a:hover {
    color: gray;
}


.title {
    display: flex;
    flex-direction: row;
    
}

.name {
    font-size: .8rem;
    order: 1;
    margin: 1.2rem;
    font-family: gastromond;
    font-weight: 400;
    font-style: normal;
}

.menu {
    overflow: hidden;
	position:fixed;
	width:35%;
    background-color: white;
    order: 2;
    margin: 1rem 0 0 65%;
    
        
}

.tophav {
	overflow: hidden;
	position: relative;
    
    
    
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align:right;
	text-decoration:none;
    font-family: sans-serif;
    font-size: 1rem;
    
    
    
    
}

.topnav a.icon {
	color: black;
	float: right;
	display: block;
	font-size: 2rem;
    padding-right: 1rem; 
}

.topnav a:hover {
    color: gray;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}

.topnav.responsive a {
    float: none;
    display: block;
 
}

.main-nav a {
    display: none;
    margin: 3rem 1rem 0 0;
    
    
}

.main-nav {
margin-top:3.5rem 2rem 0 0;
}


.main-nav.responsive {
    position: relative;
    
    
    

}

.main-nav.responsive a {
    float: none;
    display: block;
    
    
   
}



.hero {
    margin: 0 auto 0 auto;
    
}

img.heropanda {
    width:100%;
}

.panda {
    text-align: center;
    margin: 2rem auto 2rem auto;
    font-family: gastromond;
    font-weight: 400;
    font-style: normal;
}

.photos {
    display:flex;
    flex-wrap: wrap;    
}

.symbol {
    margin: 0 auto 2rem auto;
    width: 100%;
}

.SHS {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 1rem auto;
    font-family:sans-serif;
    font-weight: 100;
}

.symtext {
    font-size: .8rem;
    text-align: center;
    margin: 0 5% 2rem 5%;
    font-family:sans-serif;
    font-weight: 100;
}


img.icon {
    width: 70%;
    margin: 2rem 15% 0 15%;
    
}

img.insystem {
    width:70%;
    margin: 4rem 15% 0 15%;
}


.book {
    margin: 3rem auto 2rem auto;
    width: 100%;
}

.SHbook {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 1rem auto; 
    font-family:sans-serif;
    font-weight: 100;
}

.booktext {
    font-size: .8rem;
    text-align: center;
    margin: 0 5% 2rem 5%;
    font-family:sans-serif;
    font-weight: 100;
}

img.bookpic {
    width: 100%;
    margin: 2rem 0 0 0;
}



img.bookcover {
    width: 100%;
    margin: 2rem 0 0 0;
}



img.bookpage1 {
    width:70%;
    margin: 4rem 15% 0 15%;
    box-shadow: .3rem .3rem .5rem lightgray;
    
    
    
    
}

img.bookpage3 {
    width:70%;
    margin: 1rem 15% 4rem 15%;
    box-shadow: .3rem .3rem .5rem lightgray;
    
}





@media only screen and (min-width:960px) {
    
    .page {
        width: 100%;
    }
        
    img.icon {
        width:35%;
        margin: 2rem 3% 0 12%;
    }
    
    img.insystem {
        width:35%;
        margin: 2rem 11% 0 3%;
    }
    
    img.bookpic {
        width:70%;
        margin: 4rem 15% 0 15%;
    
    }
    
    img.bookcover {
        width:70%;
        margin: 2rem 15% 2rem 15% 
    }
    
     img.bookpage1 {
        width:37%;
        margin: 2rem 2% 5rem 10%
    }
    
     img.bookpage3 {
        width:37%;
        margin: 2rem 10% 5rem 2% 
    }
    
   
     
        
